.app.light {
    --bg-color: #fff;
    --inverted-bg-color: #000;
    --primary-color: #000;
    --secondary-color: #3f3f3f;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #b3b3b3;
}
